<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Success Formula</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="frame">
                <div class="center">
                    <div class="sky"></div>
                    <div class="sun"></div>
                    <div class="sand"></div>
                    <div class="left-triangle"></div>
                    <div class="right-triangle"></div>
                    <div class="shadow"></div>
                </div>
            </div>
            <div class="flexbox">
                <div class="flex-item">
                    <a href="/">
                        <div class="button">
                            <img src="images/home-icon-silhouette-svgrepo-com.svg" class="create-image home-svg"/>
                            <div class="flexText"><a href="/">Home</a></div>
                        </div>
                    </a>
                </div>
                <div class="flex-item">
                    <a href="/books">
                        <div class="button">
                            <img src="images/book-svgrepo-com.svg" class="create-image"/>
                            <div class="flexText"><a href="/books">Books</a></div>
                        </div>
                    </a>
                </div>
                
                <div class="flex-item">
                    <a href="/create">
                        <div class="button">
                            <img src="images/goal-svgrepo-com.svg" class="create-image"/>
                            <div class="flexText"><a href="/create">Create</a></div>
                        </div>
                    </a>
                </div>
        
                <div class="flex-item">
                    <a href="/schedule">
                        <div class="button">
                            <img src="images/calander.svg" class="quoteImage"/>
                            <div class="flexText"><a href="/schedule">Schedule</a></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- <hr class="header-divider"/> -->
        </header>
        
        