<%- include("partials/header.ejs") %>

<main>
    <div class="flex galleryTitleDiv">
        <div>
            <h1 class="galleryTitle">Book Library</h1>
            <p class="galleryContent">Click on book to delete</p>
        </div>
        
    </div>
    
    <form action="/books/delete" method="post" class="flex-wrap">
        <% library.forEach((book)=>{ %>
            <button class="galleryItem flex" type="submit" name="deleteBook" value="<%= book._id %>">
                <img src="<%= book.img %>" />
            </button>
            <div></div>
        <% }); %>
    </form>
</main>

<%- include("partials/footer.ejs") %>