<%- include("partials/header.ejs") %>

<main>
    <div class="grid-container">
        <div class="grid-item flex">
            <div class="bookContent flexbook">
                <h2 class="book-title">Recent Book</h2>
                <img class="book-image" src="/images/goggins.jpg"/>
                <p class="book-description">Description: sdlfanj fkasj fjkasnfaksfjd f afjdsfj safkjjs <a href="/gallery" >Read More</a></p>
            </div>
        </div>
        <div class="grid-item schedule-area"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
    </div>
</main>
<%- include("partials/footer.ejs") %>