<%- include("partials/header.ejs") %>

<main>
    <div class="flex galleryTitleDiv">
        <div>
            <h1 class="galleryTitle">Select Recent Book</h1>
        </div>
        
    </div>
    <div class="flex-wrap">
        <% library.forEach((book)=>{ %>
            <div class="galleryItem flex">
                <img src="<%= book.img %>" />
            </div>
            <div></div>
        <% }); %>
        
    </div>
</main>

<%- include("partials/footer.ejs") %>