<%- include("partials/header.ejs") %>

<main>
    <div class="flex galleryTitleDiv">
        <div>
            <h1 class="galleryTitle">Select Recent Book</h1>
        </div>
        
    </div>
    <form method="post" action="/" class="flex-wrap">
        <% library.forEach((book)=>{ %>
            <button class="galleryItem flex" type="submit" name="newBookID" value="<%= book._id %>">
                <img src="<%= book.img %>" />
            </button>
        <% }); %>
    </form>
        
        
    </div>
</main>

<%- include("partials/footer.ejs") %>