body{
    background-color: #E5E5CB;
}

a{
    text-decoration: none;
}

/* header content */

/* navbar */


.flexbox{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    gap: 50px;
    justify-content: right;
    width: 80%;
    left: 10%;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.flex-item{
    position: relative;
    margin-top: 20px;
}

.flexText a{
    color: #1A120B;
}

.flex-item img{
    display: inline-block;
    filter: invert(6%) sepia(8%) saturate(3457%) hue-rotate(347deg) brightness(90%) contrast(95%);
}

.flexText{
    display: inline-block;
    position: relative;
    font-family: 'Lato', sans-serif;
    bottom: 10px;
}

.home-svg{
    position: relative;
    bottom: 2px;
}

.button{
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #1A120B;
}

#books{
  width: 30px;
  height: 30px;
  filter: none;
}

.button:hover #books{
  filter: invert(100%) sepia(72%) saturate(286%) hue-rotate(356deg) brightness(96%) contrast(87%);
}

/* this is if we make a span eleemnt and want a link to be around it 
.link {
    width: 100%;
    height: 100%;
    z-index: 1;
}
*/

/* hover animation for buttons */

.button:hover{
    background-color: #1A120B;
}


.button:hover img{
    filter: invert(100%) sepia(72%) saturate(286%) hue-rotate(356deg) brightness(96%) contrast(87%);
}

.button:hover a{
    color: #E5E5CB;
}




/* animation for sun and image top left corner */


.center {
  position: absolute;
  display: inline-block;
  top: 70px;
  left: 10%;
  transform: translate(-50%,-50%);
  animation: start 4s ease-in infinite;
  clip-path: circle(60px);
  width: 180px;
  height: 180px;
  border-radius: 50%;
}


.sky{
    position: relative;
    border-radius: 150px 150px 0px 0px;
    right: 20px;
    width: 220px;
    height: 110px;
    background-color: #7DDFFC;
}

.sand{
    position: absolute;
    top: 110px;
    left: 2px;
    z-index: 2;
    border-radius: 0px 0px 150px 150px;
    width:200px;
    height: 90px;
    background-color: #D5CEA3;
}

.left-triangle{
    position: absolute;
    left: 43%;
    bottom: 26%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width:52.5px;
    height: 40px;
    clip-path: polygon(0% 100%, 100% 100%, 70% 0%);
    background-color: white;
    animation: triangle2 4s ease-out infinite backwards;
}

.right-triangle{
    position: absolute;
    left: 57.5%;
    bottom: 26.3%;
    background-color: #D3D3D3;
    transform: translate(-50%, -50%);
    z-index: 1;
    width:52.5px;
    height: 40px;
    clip-path: polygon(40% 100%, 20% 0%, 100% 100%);
    animation: triangle1 4s ease-out infinite;
}

.sun{
  position: relative;
  top: 15px;
  left: 70px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  background: radial-gradient(#d9e8cc, #efe0b1);
  animation: circle 4s ease-out infinite forwards;
}

.shadow{
  position: absolute;
  width:200px;
  height: 90px;
  top: 110px;
  left: 2px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
  animation: shadow 4s ease-out infinite backwards;
}

@keyframes circle {
  0% {
      transform: rotate(90deg) 
          translateY(85px);

      background-color: #FDB813;;
  }

  50% {
      transform: rotate(160deg) 
          translateY(85px);
      
      background-color: #FFEF00;
  }
  100%{
    transform: rotate(270deg) 
          translateY(120px);
    background-color: #FFEF00;
  }
}

@keyframes start {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 1.0;
  }
  50%{
    opacity: 1.0;
  }
  75%{
    opacity: 1.0;
  }
  100%{
    opacity: 0;
  }
}


@keyframes triangle1 {
  0%{
    background-color: #bbbbbb;
  }
  47%{
    background-color: #dedcdb;
  }
  55%{
    background-color: #dedcdb;
  }
  100%{
    background-color: white;
  }
}

@keyframes triangle2 {
  0%{
    background-color: white;
  }
  50%{
    background-color: white;
  }
  73%{
    background-color: #dedcdb;
  }
  82%{
    background-color: #dedcdb;
  }
  100%{
    background-color: #bbbbbb;
  }
}

@keyframes shadow {
  0%{
    clip-path: polygon(90% 5%, 25.5% 0%, 62.5% 0%);
  }
  50%{
    clip-path: polygon(72% 20%, 25.5% 0%, 62.5% 0%);
  }
  100%{
    clip-path: polygon(-10% 2%, 25.5% 0%, 62.5% 0%);
  }
  
}



/* horizontal rule styling for navbar */

.header-divider, .bottomRule{
  position: relative;
  right:5.5px;
  margin-top: 20px;
  border: solid #1A120B 1px;
  width: 95%;
  margin-bottom: 0px;
}

/* main section of home.ejs */

.grid-container{
  position: relative;
  display: grid;
  gap: 15px;
  grid-template:  auto auto / minmax(min(200px,25vw), 1fr) minmax(min(400px,50vw), 1.8fr) minmax(min(200px,25vw), 1.2fr);
  margin: 20px;
}


.schedule-area{
  grid-area: 1 / 2 / span 2 / 3;
}

.todoGoalsArea{
  grid-area: 1 / 3 / span 2 / 4;
}

/* Recent book*/

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbook{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #D5CEA3;
  border-radius: 15px;
}

.bookContent{
  width: 25vw;
  height: 40vw;
}

.book-title{
  font-size: 3vw;
  padding: 5%;
  font-family: 'ADLaM Display', cursive;
}

.book-image{
  position: relative;
  width: auto;
  height: 60%;
  bottom: 20px;
}

.book-description{
  padding: 5%;
  text-align: left;
}


/* gratitude */
.gratitudeButton{
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid #1A120B;
  background-color: #D5CEA3;
}

.gratitudeButton:hover{
  background-color: #1A120B;
}


.gratitudeButton:hover img{
  filter: invert(91%) sepia(8%) saturate(968%) hue-rotate(11deg) brightness(92%) contrast(88%);;
}

.gratitudeButton:hover a{
  color: #D5CEA3;
}


/* todo list and goals list styling */

.todoList{
  text-align: center;
  margin-top: 5%;
}

.goalList{
  text-align: center;
  margin-top: 8%;
}

.title{
  background-color: #D5CEA3;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding-top:1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
  margin-bottom: none;
}


.title h1{
  position: relative;
  bottom: 8px;
}


.newTodoItemDiv{
  width: 100%;
  height: 50px;
  background-color: whitesmoke;
  margin: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.todoItem{
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: auto;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-size: max(1.25lvw, 0.8rem);
}

.strikeThrough{
  text-decoration: line-through;
}

.newTodoInput{
  width: 80%;
  border: none;
  text-align: center;
  height: 40px;
  margin-top: 1px;
  background-color: whitesmoke;
  outline: none;
  border-bottom: 1px solid black;
  font-size: max(1.25lvw, 0.8rem);
}

.newTodoInput:focus::placeholder {
  color: transparent;
}

.todoContent{
  margin-left: 5%;
  max-width: 280px;
}

.submitButton{
  border: none;
  background-color: #D5CEA3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  margin-right: 1%;
  bottom: 4px;
  left: 4px;
  cursor: pointer;
}

.checkBoxButton{
  accent-color: #1A120B;
}

.line1{
  position: absolute;
  width: 19px;
  height: 4px;
  background-color: #1A120B;
  right: 5.3px;
  bottom: 12.5px;
}

.line2{
  position: absolute;
  width: 19px;
  height: 4px;
  right: 5.3px;
  bottom: 12.5px;
  background-color: #1A120B;
  transform: rotate(90deg);
}


/* book search section */

.bookSearchDiv{
  width: 40%;
  min-width: 320px;
  height: max(10vh, 70px);
  margin-top: 7%;
  margin-bottom: 5%;
  background-color: whitesmoke;
  border-radius: 40px;
}

.bookSearchField{
  width: 220px;
  border: none;
  text-align: center;
  height: 40px;
  background-color: whitesmoke;
  outline: none;
  font-size: max(1.8lvw, 1.2rem);
}


.centerSearch{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.bookSearchButton{
  border: 2px solid #1A120B;
  border-radius: 20px;
  background-color: #E5E5CB;
  cursor: pointer;
  margin-right: 10%;
  margin-left: 7%;
}

.bookSearchButton img{
  filter: invert(6%) sepia(8%) saturate(3457%) hue-rotate(347deg) brightness(90%) contrast(95%);
}

.bookSearchField:focus::placeholder {
  color: transparent;
}

.bookSearchButton:hover img{
  filter: invert(100%) sepia(72%) saturate(286%) hue-rotate(356deg) brightness(96%) contrast(87%);
}

.bookSearchButton:hover{
  background-color: #1A120B;
}

.noImgDisplay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Book library section */

.galleryTitleDiv{
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
}

.galleryTitle{
  font-family: 'Merriweather', serif;
  font-size: max(5lvw, 3rem);
  color: #1A120B;
  text-shadow: 0 2px 1px #261b12, 
      -1px 3px 1px #261b12, 
      -2px 5px 1px #261b12;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5%;
  margin-bottom: 0%;
  margin-right: 3%;
}

.galleryItem{
  padding: 10px;
  margin-bottom: 5%;
  background: #1A120B;
  box-shadow: 4px 8px 16px 0 rgba(26,18,11,0.8);
	overflow: hidden;
  margin-right: 2%;
  cursor: pointer;
}

.galleryItem:hover{
  background: #800020;
  box-shadow: 4px 8px 16px 0 rgba(128,0,32,0.8);
}

.galleryContent{
  font-family: 'Merriweather Sans', sans-serif;
}

/* footer styles */

footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E5E5CB;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer a{
  padding: 2.2%;
  padding-bottom: 0px;
}

.footer > div{
  text-align: center;
  margin: 25px;
}

.copywrite{
  text-align: center;
}

.copywrite p{
  color: black;
  font-size: 1.2rem;
}

.twitter{
  margin-bottom: 2px;
}

a > svg{
  width:30px;
}

.footer-link:hover{
  opacity: 0.6;
}